body{
margin: 0;
padding: 0;
font-family: 'Courier New', Courier, monospace;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background: linear-gradient(to left bottom, lightgreen, lightblue)



}
.container{
flex-direction: column;
background-color: rgb(255, 2555, 255,0.3);
display: flex;
padding: 20px;
border-radius: 5px;
box-shadow: 0 5px 4px rgba(0,0,0,0.3);
margin: 5px;
}
.heading{
font-size: 30px;

}
.input{
background-color: rgb(255, 2555, 255,0.4);
border-color: rgb(255, 2555, 255,0.5);
margin: 10px;
font-size: 18px;
padding: 10px 20px;
caret-color: darkcyan;
}
.btn{
cursor: pointer;
padding: 10px 20px;
border: none;
background-color: lightblue;
margin: 10px;
font-size: 20px;
border-radius: 5px;
box-shadow: 0 0 4px rgba(0,0,0,0.3);
}
.btn:hover{
box-shadow: 0 0 8px rgba(0,0,0,0.3);
animation: all 300ms ease;

}

.info-text{
font-size: 20px;
font-weight: 500;

}